# Menyiapkan Data

## Pekerjaan Di Balik Layar
- Menyiapkan data (*data cleaning*) sering menjadi pekerjaan paling memakan waktu
- Metode menyiapkan data jarang diajarkan dalam kelas
- Padahal kesalahan dalam menyiapkan data bisa mengubah hasil analisis

## Memuat data dari file ke R

- Dengan library `rio`, kita bisa mengimpor ke R data dari berbagai macam format: `txt`, `csv`, `xls`, `xlsx`, `dbf`, `sav`, `dta`, `sas7.bdat`. 
- Data yang diimpor akan menjadi obyek R tipe `data.frame`

In [1]:
# install.packages('rio')
datakab = rio::import('https://raw.githubusercontent.com/msaidf/statek/master/indo-dapoer_data.csv')

## Mengecek Data

- Tampilkan keseluruhan data dengan mengenter nama obyek data

In [ ]:
datakab

- Namun untuk data yang besar, ini tidak banyak membantu bahkan bisa makan waktu lama
- Karenanya cek dulu besarnya data dari dimensi matriksnya.

In [3]:
dim(datakab)

[1] 12017    19

- `head` dan `tail` menampilkan baris teratas dan terbawah data 
- bisa menyebutkan jumlah baris yang diinginkan.

In [4]:
head(datakab); tail(datakab, n = 8)

  Region Name           Region Code
1 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
2 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
3 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
4 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
5 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
6 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623
  Series Name                                   Series Code      2000 [YR2000]
1 Human Development Index                       IDX.HDI          ..
2 Morbidity Rate (in %)                         SH.MORB.ZS       ..
3 Net Enrollment Ratio: Primary (in %)          SE.PRM.NENR.ZS   ..
4 Net Enrollment Ratio: Junior Secondary (in %) SE.JRSEC.NENR.ZS ..
5 Net Enrollment Ratio: Senior Secondary (in %) SE.SRSEC.NENR.ZS ..
6 Number of hospitals                           SH.HOSP.TOTL     ..
  2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004] 2005 [YR2005]
1 ..            ..            ..            65.87778      66.86649
2 ..            ..            ..            29.19532      ..
3 ..            ..            ..            94.65         ..
4 ..            ..            ..            74.33         ..
5 ..            ..            ..            54.23         ..
6 ..            ..            ..            ..            ..
  2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009] 2010 [YR2010]
1 67.52173      68.36661      69.38033      ..            ..
2 33.22042      35.90795      31.811        29.2377       30.0167
3 94.89         94.34         96.21         96.55         98.32
4 69.13         76.71         80.7          65.59         75.62
5 52.97         61.7          62.9          65.55         67.8
6 ..            ..            ..            ..            ..
  2011 [YR2011] 2012 [YR2012]    2013 [YR2013]   2014 [YR2014]
1 70.95         ..               72.07           ..
2 33.93033      30.5736273527145 29.909548163414 ..
3 86.16         90.96            95.395058       97.03
4 68.52         78.25            87.201385       87.02
5 65.99         60.86            63.46043        72.64
6 1             ..               ..              ..

      Region Name
12010 Yogyakarta, Kota
12011 Yogyakarta, Kota
12012 Yogyakarta, Kota
12013
12014
12015
12016 Data from database: INDO-DAPOER (Indonesia Database for Policy and Economic Research)
12017 Last Updated: 05/28/2015
      Region Code
12010 IDN_Yogyakarta_Kota_17983
12011 IDN_Yogyakarta_Kota_17983
12012 IDN_Yogyakarta_Kota_17983
12013
12014
12015
12016
12017
      Series Name                                         Series Code
12010 Villages with road: Dirt (in % of total villages)   ROD.VILG.DIRT.ZS
12011 Villages with road: Gravel (in % of total villages) ROD.VILG.GRAVL.ZS
12012 Villages with road: Other (in % of total villages)  ROD.VILG.OTHR.ZS
12013
12014
12015
12016
12017
      2000 [YR2000] 2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004]
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
12013
12014
12015
12016
12017
      2005 [YR2005] 2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009]
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
12013
12014
12015
12016
12017
      2010 [YR2010] 2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
12013
12014
12015
12016
12017

- Lima baris terakhir bukan bagian dari data. Kita bisa gunakan indeks **positif** untuk memilih baris yang **dipertahankan**.

In [5]:
tail(datakab[1:12012,])

      Region Name      Region Code
12007 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12008 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12009 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12010 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12011 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12012 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
      Series Name                                          Series Code
12007 Total GDP based on expenditure (in IDR Million)      NE.GDI.TOTL.CR
12008 Total Population (in number of people)               SP.POP.TOTL
12009 Villages with road: Asphalt (in % of total villages) ROD.VILG.ASPH.ZS
12010 Villages with road: Dirt (in % of total villages)    ROD.VILG.DIRT.ZS
12011 Villages with road: Gravel (in % of total villages)  ROD.VILG.GRAVL.ZS
12012 Villages with road: Other (in % of total villages)   ROD.VILG.OTHR.ZS
      2000 [YR2000] 2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004]
12007 ..            ..            ..            ..            ..
12008 397398        395775        394140        392492        396238
12009 100           ..            ..            100           ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
      2005 [YR2005]    2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009]
12007 ..               ..            ..            ..            ..
12008 419163.765233477 445258        451118        456915        462663
12009 100              ..            ..            100           ..
12010 ..               ..            ..            ..            ..
12011 ..               ..            ..            ..            ..
12012 ..               ..            ..            ..            ..
      2010 [YR2010] 2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]
12007 ..            ..            ..            ..            ..
12008 388627        392506        397594        402679        ..
12009 ..            100           ..            ..            ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..

- atau gunakan indeks **negatif** untuk memilih baris yang **dibuang**

In [6]:
library(magrittr)
datakab[-12013:-12017,] %>% tail

      Region Name      Region Code
12007 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12008 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12009 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12010 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12011 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12012 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
      Series Name                                          Series Code
12007 Total GDP based on expenditure (in IDR Million)      NE.GDI.TOTL.CR
12008 Total Population (in number of people)               SP.POP.TOTL
12009 Villages with road: Asphalt (in % of total villages) ROD.VILG.ASPH.ZS
12010 Villages with road: Dirt (in % of total villages)    ROD.VILG.DIRT.ZS
12011 Villages with road: Gravel (in % of total villages)  ROD.VILG.GRAVL.ZS
12012 Villages with road: Other (in % of total villages)   ROD.VILG.OTHR.ZS
      2000 [YR2000] 2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004]
12007 ..            ..            ..            ..            ..
12008 397398        395775        394140        392492        396238
12009 100           ..            ..            100           ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
      2005 [YR2005]    2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009]
12007 ..               ..            ..            ..            ..
12008 419163.765233477 445258        451118        456915        462663
12009 100              ..            ..            100           ..
12010 ..               ..            ..            ..            ..
12011 ..               ..            ..            ..            ..
12012 ..               ..            ..            ..            ..
      2010 [YR2010] 2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]
12007 ..            ..            ..            ..            ..
12008 388627        392506        397594        402679        ..
12009 ..            100           ..            ..            ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..

- `%>%` adalah operator pipe dari library `magrittr`, yang mengirimkan output dari fungsi di sebelah kiri untuk menjadi input/argumen dari fungsi sebelah kanan

- Subset juga bisa dibuat dengan memfilter tabel data agar hanya memberikan baris yang nilai variabelnya memenuhi kriteria yang ditetapkan 
- Kita bisa gunakan fungsi `which` untuk menghasilkan indeks baris yang memenuhi kriteria tersebut

In [7]:
which(datakab$`Series Code` != "") %>% datakab[.,] %>% tail

      Region Name      Region Code
12007 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12008 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12009 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12010 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12011 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12012 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
      Series Name                                          Series Code
12007 Total GDP based on expenditure (in IDR Million)      NE.GDI.TOTL.CR
12008 Total Population (in number of people)               SP.POP.TOTL
12009 Villages with road: Asphalt (in % of total villages) ROD.VILG.ASPH.ZS
12010 Villages with road: Dirt (in % of total villages)    ROD.VILG.DIRT.ZS
12011 Villages with road: Gravel (in % of total villages)  ROD.VILG.GRAVL.ZS
12012 Villages with road: Other (in % of total villages)   ROD.VILG.OTHR.ZS
      2000 [YR2000] 2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004]
12007 ..            ..            ..            ..            ..
12008 397398        395775        394140        392492        396238
12009 100           ..            ..            100           ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
      2005 [YR2005]    2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009]
12007 ..               ..            ..            ..            ..
12008 419163.765233477 445258        451118        456915        462663
12009 100              ..            ..            100           ..
12010 ..               ..            ..            ..            ..
12011 ..               ..            ..            ..            ..
12012 ..               ..            ..            ..            ..
      2010 [YR2010] 2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]
12007 ..            ..            ..            ..            ..
12008 388627        392506        397594        402679        ..
12009 ..            100           ..            ..            ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..

- `$` digunakan untuk memilih kolom/variabel `Series Code` yang merupakan komponen dari tabel `datakab`
- nama variabel perlu diapit dengan *backtick* ``` hanya jika mengandung spasi

- cara lain untuk memilih baris berdasar kriteria adalah menggunakan fungsi `filter` dari library `dplyr`

In [8]:
filter(datakab, `Series Code` != "")

Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"Warning message in data.matrix(data):
"NAs introduced by coercion"

ERROR: Error in filter(datakab, `Series Code` != ""): object 'Series Code' not found

- Uups, hasilnya tidak seperti yang diinginkan
- Ternyata kita belum memuat library `dplyr` sehingga fungsi `filter` yang digunakan di atas berasal dari library lain
- Jika ada lebih dari satu fungsi yang bernama sama, R akan memprioritaskan fungsi dari library yang dimuat paling akhir.

- Kita bisa memastikan fungsi `filter` yang digunakan adalah dari `dplyr`, walau kita belum memuatnya, dengan didului `dplyr::`

In [ ]:
dplyr::filter(datakab, `Series Code` != "")

- jika sudah yakin indeks menghasilkan subset yang diinginkan, simpan subset tersebut menjadi objek

In [10]:
datakab = .Last.value

- nilai dari perintah yang dijalankan terakhir  bisa dimuat kembali dengan `.Last.value`

## Memilih variabel

- seperti memilih baris, kita bisa memilih variabel menggunakan indeks kolom yang terletak setelah koma di fungsi subset `[]`

In [12]:
datakab[,c(1, 3:5, ncol(datakab))] %>% tail

      Region Name      Series Name
12007 Yogyakarta, Kota Total GDP based on expenditure (in IDR Million)
12008 Yogyakarta, Kota Total Population (in number of people)
12009 Yogyakarta, Kota Villages with road: Asphalt (in % of total villages)
12010 Yogyakarta, Kota Villages with road: Dirt (in % of total villages)
12011 Yogyakarta, Kota Villages with road: Gravel (in % of total villages)
12012 Yogyakarta, Kota Villages with road: Other (in % of total villages)
      Series Code       2000 [YR2000] 2014 [YR2014]
12007 NE.GDI.TOTL.CR    ..            ..
12008 SP.POP.TOTL       397398        ..
12009 ROD.VILG.ASPH.ZS  100           ..
12010 ROD.VILG.DIRT.ZS  ..            ..
12011 ROD.VILG.GRAVL.ZS ..            ..
12012 ROD.VILG.OTHR.ZS  ..            ..

- indeks kolom angka bisa digantikan dengan vektor nama variabel

In [13]:
datakab[,c('Region Code', 'Series Name')] %>% tail

      Region Code
12007 IDN_Yogyakarta_Kota_17983
12008 IDN_Yogyakarta_Kota_17983
12009 IDN_Yogyakarta_Kota_17983
12010 IDN_Yogyakarta_Kota_17983
12011 IDN_Yogyakarta_Kota_17983
12012 IDN_Yogyakarta_Kota_17983
      Series Name
12007 Total GDP based on expenditure (in IDR Million)
12008 Total Population (in number of people)
12009 Villages with road: Asphalt (in % of total villages)
12010 Villages with road: Dirt (in % of total villages)
12011 Villages with road: Gravel (in % of total villages)
12012 Villages with road: Other (in % of total villages)

- Pemilihan variabel juga bisa menggunakan `dplyr::select`

In [14]:
library(dplyr); select(datakab, 'Region Code':'Series Code', -'Series Name', 
                       region_name = 'Region Name', contains('YR'), -contains('YR201')) %>% tail

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

      Region Code               Series Code       region_name
12007 IDN_Yogyakarta_Kota_17983 NE.GDI.TOTL.CR    Yogyakarta, Kota
12008 IDN_Yogyakarta_Kota_17983 SP.POP.TOTL       Yogyakarta, Kota
12009 IDN_Yogyakarta_Kota_17983 ROD.VILG.ASPH.ZS  Yogyakarta, Kota
12010 IDN_Yogyakarta_Kota_17983 ROD.VILG.DIRT.ZS  Yogyakarta, Kota
12011 IDN_Yogyakarta_Kota_17983 ROD.VILG.GRAVL.ZS Yogyakarta, Kota
12012 IDN_Yogyakarta_Kota_17983 ROD.VILG.OTHR.ZS  Yogyakarta, Kota
      2000 [YR2000] 2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004]
12007 ..            ..            ..            ..            ..
12008 397398        395775        394140        392492        396238
12009 100           ..            ..            100           ..
12010 ..            ..            ..            ..            ..
12011 ..            ..            ..            ..            ..
12012 ..            ..            ..            ..            ..
      2005 [YR2005]    2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009]
12007 ..               ..            ..            ..            ..
12008 419163.765233477 445258        451118        456915        462663
12009 100              ..            ..            100           ..
12010 ..               ..            ..            ..            ..
12011 ..               ..            ..            ..            ..
12012 ..               ..            ..            ..            ..

- Nama variabel yang mengandung spasi harus diapit tanda kutip 
- Pilih sejumlah variabel yang berurutan cukup sebutkan variabel di pinggir, `var_kiri:var_kanan` 
- Pilih semua variabel yang namanya memiliki kesamaan pola, baik diawali (`starts_with`), diakhiri (`ends_with`), atau mengandung (`contains`) karakter tertentu 
- Gunakan tanda minus (`-`) untuk mengecualikan variabel 
- Urutan kolom tabel baru mengikuti urutan variabel dalam `select`
- Mengganti nama variabel yang dipilih, `nama_baru = nama_lama`

## Merubah Nama Variabel

- jika hanya ingin mengganti nama sejumlah variabel, tanpa merubah struktur tabel data, gunakan `dplyr::rename`

In [15]:
rename(datakab, region_name = 'Region Name', series_code = 'Series Code') [100:103,]

    region_name        Region Code
100 Aceh Selatan, Kab. IDN_Aceh_Selatan_Kab_73626
101 Aceh Selatan, Kab. IDN_Aceh_Selatan_Kab_73626
102 Aceh Selatan, Kab. IDN_Aceh_Selatan_Kab_73626
103 Aceh Selatan, Kab. IDN_Aceh_Selatan_Kab_73626
    Series Name                                 series_code    2000 [YR2000]
100 Number of schools at primary level          SE.SCHL.PRM    333
101 Number of schools at Senior Secondary level SE.SCHL.SRSEC  25
102 Poverty Line (in IDR)                       SI.POV.NAPL    ..
103 Poverty Rate (in % of population)           SI.POV.NAPR.ZS ..
    2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004] 2005 [YR2005]
100 ..            ..            211           ..            223
101 ..            ..            21            ..            25
102 ..            ..            ..            ..            171815
103 ..            28.28         29.25         27.56         26.43
    2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009] 2010 [YR2010]
100 ..            ..            128           ..            ..
101 ..            ..            15            ..            ..
102 186227        196167        203761        236741        257640
103 24.58         24.72         19.4          17.5          15.93
    2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]
100 232           ..            ..            ..
101 40            ..            ..            ..
102 278854        281158        283446        285301
103 15.52         14.81         13.44         12.79

- fungsi subset `[]` bisa langsung digunakan tanpa piping  `%>%` setelah fungsi yang menghasilkan objek yang bisa di-subset

- merubah nama bisa pula dilakukan dengan meng-*assign* vektor nama baru dengan panjang sama seperti nama yang hendak digantikan

In [ ]:
names(datakab)[1:3] = names(datakab)[1:3] %>% toupper
names(datakab) %>% t

- `janitor::clean_names` merubah nama variabel agar mengikuti gaya standar

In [22]:
datakab = janitor::clean_names(datakab)
names(datakab) %>% t

     [,1]        [,2]        [,3]        [,4]        [,5]         [,6]
[1,] region_name region_code series_name series_code x2000_yr2000 x2001_yr2001
     [,7]         [,8]         [,9]         [,10]        [,11]
[1,] x2002_yr2002 x2003_yr2003 x2004_yr2004 x2005_yr2005 x2006_yr2006
     [,12]        [,13]        [,14]        [,15]        [,16]
[1,] x2007_yr2007 x2008_yr2008 x2009_yr2009 x2010_yr2010 x2011_yr2011
     [,17]        [,18]        [,19]
[1,] x2012_yr2012 x2013_yr2013 x2014_yr2014

In [54]:
datakab %<>% rename_at(vars(starts_with('x20')), funs(str_replace(., 'x20[0-9][0-9]_', ''))) 
datakab %>% names %>% t

     [,1]        [,2]        [,3]        [,4]        [,5]   [,6]   [,7]
[1,] region_name region_code series_name series_code yr2000 yr2001 yr2002
     [,8]   [,9]   [,10]  [,11]  [,12]  [,13]  [,14]  [,15]  [,16]  [,17]
[1,] yr2003 yr2004 yr2005 yr2006 yr2007 yr2008 yr2009 yr2010 yr2011 yr2012
     [,18]  [,19]
[1,] yr2013 yr2014

## Menggabungkan data

- Untuk keperluan latihan penggabungan, datakab dipecah menjadi dua data dengan variabel berbeda kecuali variabel ID

In [116]:
data1 = datakab %>% select(region_name:series_code, contains('201'))
names(data1) %>% t

     [,1]        [,2]        [,3]        [,4]        [,5]   [,6]   [,7]
[1,] region_name region_code series_name series_code yr2010 yr2011 yr2012
     [,8]   [,9]
[1,] yr2013 yr2014

In [117]:
data2 = datakab %>% select(-contains('201'))
names(data2) %>% t

     [,1]        [,2]        [,3]        [,4]        [,5]   [,6]   [,7]
[1,] region_name region_code series_name series_code yr2000 yr2001 yr2002
     [,8]   [,9]   [,10]  [,11]  [,12]  [,13]  [,14]
[1,] yr2003 yr2004 yr2005 yr2006 yr2007 yr2008 yr2009

- gabungkan dua data tersebut menggunakan  `merge` dari base R, atau seri fungsi `_join` dari `dplyr`

In [118]:
merge(data1, data2, by = c('region_code', 'series_code')) %>% tail(3)

      region_code               series_code    region_name.x
12010 IDN_Yogyakarta_Kota_17983 SI.POV.NAPR.ZS Yogyakarta, Kota
12011 IDN_Yogyakarta_Kota_17983 SI.POV.NGAP    Yogyakarta, Kota
12012 IDN_Yogyakarta_Kota_17983 SP.POP.TOTL    Yogyakarta, Kota
      series_name.x                          yr2010 yr2011 yr2012 yr2013 yr2014
12010 Poverty Rate (in % of population)      9.75   9.62   9.38   8.82   8.67
12011 Poverty Gap (index)                    1.29   1.19   1.57   1.24   1.14
12012 Total Population (in number of people) 388627 392506 397594 402679 ..
      region_name.y    ... yr2000 yr2001 yr2002 yr2003 yr2004 yr2005
12010 Yogyakarta, Kota ... ..     ..     14.52  12.59  21.77  10.5
12011 Yogyakarta, Kota ... ..     ..     3.23   3.23   2.96   2.34
12012 Yogyakarta, Kota ... 397398 395775 394140 392492 396238 419163.765233477
      yr2006 yr2007 yr2008 yr2009
12010 10.22  9.78   10.81  10.05
12011 1.88   2.26   2.1    1.91
12012 445258 451118 456915 462663

- Penggabungan baris berdasar variabel ID dalam argumen `by`
- jika ada variabel bernama sama tapi tidak menjadi argumen `by`, maka di data baru akan ditambahi akhiran `.x` dan `.y`
- jika variabel id berbeda nama di kedua data, 
  
  `by = c("id1_I" = "id1_II", "id2_I" = "id2_II")`
- jika tidak ada argumen `by`, penggabungan dilakukan dengan semua variabel bernama sama

In [59]:
dplyr::inner_join(data1, data2) %>% tail(3)

Joining, by = c("region_name", "region_code", "series_name", "series_code")

      region_name      region_code
12010 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12011 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
12012 Yogyakarta, Kota IDN_Yogyakarta_Kota_17983
      series_name                                         series_code
12010 Villages with road: Dirt (in % of total villages)   ROD.VILG.DIRT.ZS
12011 Villages with road: Gravel (in % of total villages) ROD.VILG.GRAVL.ZS
12012 Villages with road: Other (in % of total villages)  ROD.VILG.OTHR.ZS
      yr2010 yr2011 yr2012 yr2013 yr2014 yr2000 yr2001 yr2002 yr2003 yr2004
12010 ..     ..     ..     ..     ..     ..     ..     ..     ..     ..
12011 ..     ..     ..     ..     ..     ..     ..     ..     ..     ..
12012 ..     ..     ..     ..     ..     ..     ..     ..     ..     ..
      yr2005 yr2006 yr2007 yr2008 yr2009
12010 ..     ..     ..     ..     ..
12011 ..     ..     ..     ..     ..
12012 ..     ..     ..     ..     ..

- Secara default, hasil merge hanya mempertahankan baris dengan ID yang terdapat di kedua data yang digabungkan. Hasil default merge ini ekuivalen dengan hasil dari `dplyr::inner_join`
- jika ingin semua baris dipertahankan walau ID hanya terdapat di salah satu data, maka gunakan argumen `all = TRUE`. Ini ekuivalen dengan hasil dari `dplyr::all_join`
- jika hanya ingin mempertahankan semua baris dari salah satu data 
  - data I gunakan `all.x = TRUE`, ekuivalen dengan `dplyr::left_join`
  - data II gunakan `all.y = TRUE`, ekuivalen dengan `dplyr::right_join`

## Merubah Nilai

- Bisa merubah nilai sel tertentu dengan menunjukkan lokasi baris dan kolomnya

In [121]:
datakab[2,5]

[1] ".."

In [123]:
(datakab[2,5] = NA)

[1] NA

- Nilai yang disimpan ke objek bisa ditampilkan dengan menaruh keseluruhan perintah ke dalam tanda kurung `()`

- Gunakan kombinasi `dplyr::mutate` dan  `ifelse` untuk merubah nilai suatu variabel yang memenuhi syarat tertentu.

In [124]:
head(datakab, 2)

  region_name           region_code                   series_name
1 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623 Human Development Index
2 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623 Morbidity Rate (in %)
  series_code yr2000 yr2001 yr2002 yr2003 yr2004   yr2005   yr2006   yr2007
1 IDX.HDI     ..     ..     ..     ..     65.87778 66.86649 67.52173 68.36661
2 SH.MORB.ZS  NA     ..     ..     ..     29.19532 ..       33.22042 35.90795
  yr2008   yr2009  yr2010  yr2011   yr2012           yr2013          yr2014
1 69.38033 ..      ..      70.95    ..               72.07           ..
2 31.811   29.2377 30.0167 33.93033 30.5736273527145 29.909548163414 ..

In [125]:
datakab %>% select(yr2000, yr2001) %>% 
            summarytools::dfSummary(graph.col = F, na.col = F) %>% 
            print

Data Frame Summary
N: 12012
--------------------------------------------------------------------
No   Variable      Stats / Values    Freqs (% of Valid)   Valid
---- ------------- ----------------- -------------------- ----------
1    yr2000        1. ..             7343 (61.1%)         12011
     [character]   2. 1              85 ( 0.7%)           (99.99%)
                   3. 2              79 ( 0.7%)
                   4. 4              49 ( 0.4%)
                   5. 3              47 ( 0.4%)
                   6. 100            31 ( 0.3%)
                   7. 5              26 ( 0.2%)
                   8. 7              21 ( 0.2%)
                   9. 6              20 ( 0.2%)
                   10. 26            18 ( 0.1%)
                   [ 2901 others ]   4292 (40.2%)

2    yr2001        1. ..             10189 (84.8%)        12012
     [character]   2. 94.52          4 ( 0.0%)            (100%)
                   3. 90.77          3 ( 0.0%)
                   4. 90.92          3 ( 0.0%)
                   5. 92.16          3 ( 0.0%)
                   6. 93.44          3 ( 0.0%)
                   7. 93.53          3 ( 0.0%)
                   8. 93.58          3 ( 0.0%)
                   9. 93.69          3 ( 0.0%)
                   10. 94.03         3 ( 0.0%)
                   [ 1724 others ]   1795 (17.9%)
--------------------------------------------------------------------

In [126]:
datakab %>% mutate(yr2000 = ifelse(yr2000 == '..', NA, yr2000),
                   yr2001 = ifelse(yr2001 == '..', NA, yr2001)) %>% 
            select(yr2000:yr2002) %>% 
            summarytools::dfSummary(graph.col = F, na.col = F) %>% 
            print

Data Frame Summary
N: 12012
--------------------------------------------------------------------
No   Variable      Stats / Values    Freqs (% of Valid)   Valid
---- ------------- ----------------- -------------------- ----------
1    yr2000        1. 1              85 ( 1.8%)           4668
     [character]   2. 2              79 ( 1.7%)           (38.86%)
                   3. 4              49 ( 1.0%)
                   4. 3              47 ( 1.0%)
                   5. 100            31 ( 0.7%)
                   6. 5              26 ( 0.6%)
                   7. 7              21 ( 0.4%)
                   8. 6              20 ( 0.4%)
                   9. 26             18 ( 0.4%)
                   10. 11            17 ( 0.4%)
                   [ 2900 others ]   4275 (87.3%)

2    yr2001        1. 94.52          4 ( 0.2%)            1823
     [character]   2. 90.77          3 ( 0.2%)            (15.18%)
                   3. 90.92          3 ( 0.2%)
                   4. 92.16          3 ( 0.2%)
                   5. 93.44          3 ( 0.2%)
                   6. 93.53          3 ( 0.2%)
                   7. 93.58          3 ( 0.2%)
                   8. 93.69          3 ( 0.2%)
                   9. 94.03          3 ( 0.2%)
                   10. 94.07         3 ( 0.2%)
                   [ 1723 others ]   1792 (90.3%)

3    yr2002        1. ..             9487 (79.0%)         12012
     [character]   2. 4.34           5 ( 0.0%)            (100%)
                   3. 2.19           4 ( 0.0%)
                   4. 2.33           4 ( 0.0%)
                   5. 2.34           4 ( 0.0%)
                   6. 2.53           4 ( 0.0%)
                   7. 0.65           3 ( 0.0%)
                   8. 0.86           3 ( 0.0%)
                   9. 0.97           3 ( 0.0%)
                   10. 0.98          3 ( 0.0%)
                   [ 2273 others ]   2492 (24.7%)
--------------------------------------------------------------------

- Gunakan `mutate_at` untuk menerapkan perubahan ke semua variabel yang dipilih

- Agar perintah perubahan bisa diterapkan ke semua variabel, variabel dalam perintah diwakili dengan simbol titik (`.`)

In [127]:
datakab %<>% mutate_at(vars(starts_with("yr20")), funs(ifelse(. == '..', NA, .))) %>%
             mutate_at(vars(starts_with("yr20")), as.numeric)

In [128]:
datakab %>% select(starts_with("yr201")) %>%
            summarytools::dfSummary(graph.col = F, na.col = F) %>% 
            print

Data Frame Summary
N: 12012
------------------------------------------------------------------------------------------
No   Variable    Stats / Values                          Freqs (% of Valid)     Valid
---- ----------- --------------------------------------- ---------------------- ----------
1    yr2010      mean (sd) : 1360005.99 (24387637.53)    3776 distinct values   4305
     [numeric]   min < med < max :                                              (35.84%)
                 0.19 < 59.02 < 862158976
                 IQR (CV) : 42791.39 (17.93)

2    yr2011      mean (sd) : 329813.33 (11716890.33)     5981 distinct values   10396
     [numeric]   min < med < max :                                              (86.55%)
                 0 < 57 < 982540032
                 IQR (CV) : 80.45 (35.53)

3    yr2012      mean (sd) : 150075.75 (1148162.6)       3720 distinct values   4273
     [numeric]   min < med < max :                                              (35.57%)
                 0 < 61.9 < 44643586
                 IQR (CV) : 78.08 (7.65)

4    yr2013      mean (sd) : 137749.78 (1099946.11)      4373 distinct values   4778
     [numeric]   min < med < max :                                              (39.78%)
                 0 < 69.12 < 45340799
                 IQR (CV) : 74.97 (7.99)

5    yr2014      mean (sd) : 52560.86 (120968.25)        2582 distinct values   3180
     [numeric]   min < med < max :                                              (26.47%)
                 0.2 < 68.97 < 657702
                 IQR (CV) : 85.91 (2.3)
------------------------------------------------------------------------------------------

## Pivot Tabel

- Tahun pada dasarnya bukan nama variabel, sehingga bisa dikumpulkan menjadi satu kolom/variabel dengan menggunakan `dplyr::gather`

In [ ]:
datakab %<>% gather(year, val, starts_with('yr'))  
datakab %>% head(2)

- Kolom `series_code` dan `series_name` sebenarnya merupakan nama variabel
- Untuk menjadikan data tersebut rapi, yakni siap untuk dianalisis, nama-nama variabel tersebut perlu dijadikan nama kolom dalam tabel data
- `dplyr::spread` merubah tabel dari bentuk panjang ke bentuk lebar
- Salah satu dari `series_code` atau `series_name` perlu dibuang karena sebenarnya mewakili observasi yang sama

In [133]:
datakab %<>% mutate(year = str_replace(year, 'yr', '') %>% 
                          as.integer) %>% 
            select(-series_code) %>% 
            spread(key = series_name, value = val)
datakab %>% head(2)

  region_name           region_code                   year
1 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623 2000
2 Aceh Barat Daya, Kab. IDN_Aceh_Barat_Daya_Kab_73623 2001
  Human Development Index Morbidity Rate (in %)
1 NA                      NA
2 NA                      NA
  Net Enrollment Ratio: Junior Secondary (in %)
1 NA
2 NA
  Net Enrollment Ratio: Primary (in %)
1 NA
2 NA
  Net Enrollment Ratio: Senior Secondary (in %) Number of Doctors
1 NA                                            NA
2 NA                                            NA
  Number of hospitals ... Number of schools at Senior Secondary level
1 NA                  ... NA
2 NA                  ... NA
  Poverty Gap (index) Poverty Line (in IDR) Poverty Rate (in % of population)
1 NA                  NA                    NA
2 NA                  NA                    NA
  Total GDP based on expenditure (in IDR Million)
1 NA
2 NA
  Total Population (in number of people)
1 NA
2 NA
  Villages with road: Asphalt (in % of total villages)
1 NA
2 NA
  Villages with road: Dirt (in % of total villages)
1 NA
2 NA
  Villages with road: Gravel (in % of total villages)
1 NA
2 NA
  Villages with road: Other (in % of total villages)
1 NA
2 NA

In [148]:
names(datakab) %>% str_replace_all('(.+)\\(in .+\\)', '\\1') %>% t

     [,1]        [,2]        [,3] [,4]
[1,] region_name region_code year human_development_index
     [,5]                      [,6]
[1,] morbidity_rate_in_percent net_enrollment_ratio_junior_secondary_in_percent
     [,7]
[1,] net_enrollment_ratio_primary_in_percent
     [,8]                                             [,9]
[1,] net_enrollment_ratio_senior_secondary_in_percent number_of_doctors
     [,10]               [,11] [,12]
[1,] number_of_hospitals ...   number_of_schools_at_senior_secondary_level
     [,13]             [,14]
[1,] poverty_gap_index poverty_line_in_idr
     [,15]
[1,] poverty_rate_in_percent_of_population
     [,16]
[1,] total_gdp_based_on_expenditure_in_idr_million
     [,17]
[1,] total_population_in_number_of_people
     [,18]
[1,] villages_with_road_asphalt_in_percent_of_total_villages
     [,19]
[1,] villages_with_road_dirt_in_percent_of_total_villages
     [,20]
[1,] villages_with_road_gravel_in_percent_of_total_villages
     [,21]
[1,] villages_with_road_other_in_percent_of_total_villages

In [155]:
datakab %<>% janitor::clean_names()
names(datakab) %<>% str_replace_all('_in_.+$', '') %>% t
datakab %>% names %>% t

     [,1]        [,2]        [,3] [,4]                    [,5]
[1,] region_name region_code year human_development_index morbidity_rate
     [,6]                                  [,7]
[1,] net_enrollment_ratio_junior_secondary net_enrollment_ratio_primary
     [,8]                                  [,9]
[1,] net_enrollment_ratio_senior_secondary number_of_doctors
     [,10]               [,11] [,12]
[1,] number_of_hospitals ...   number_of_schools_at_senior_secondary_level
     [,13]             [,14]        [,15]        [,16]
[1,] poverty_gap_index poverty_line poverty_rate total_gdp_based_on_expenditure
     [,17]            [,18]                      [,19]
[1,] total_population villages_with_road_asphalt villages_with_road_dirt
     [,20]                     [,21]
[1,] villages_with_road_gravel villages_with_road_other

## Menyimpan dan Menghapus Objek

- simpan semua objek R di memori ke file dengan perintah `save.image`
- gunakan `save` jika hanya sebagian objek yang ingin disimpan  
- simpan image dengan nama `.RData` jika ingin otomatis dimuat ke memori tiap awal menjalankan R dari direktori tersebut

In [156]:
save.image(file = ".RData")
save(datakab, file = "datakab.rda")

- hapus objek R dari memori dengan `rm`

In [62]:
rm(data1, data2)
ls()

[1] "datakab"

- `ls` memberikan vektor nama semua objek yang ada di memori

In [138]:
rm(list = ls())
ls()

character(0)

- gunakan `load` untuk memuat semua objek dalam file image ke memori

- saat dimuat kembali dari file image, nama objek akan sama dengan saat disimpan 
- untuk bisa bebas memberikan nama baru pada objek saat dimuat kembali, simpan dengan `saveRDS` dan muat dengan `readRDS`
- kedua perintah ini hanya bisa menyimpan dan memuat satu objek

In [153]:
load('datakab.rda')
ls()

[1] "datakab"    "indodapoer"

In [157]:
saveRDS(datakab, file = "datakab.rds")
indodapoer = readRDS('datakab.rds')
ls()

[1] "datakab"    "indodapoer"